<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/home.css" />
    <title>Petfam</title>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="../images/petfamlogo.png" class="logo" alt="Petfam Logo">
                <ul>
                    <li><a href="#header">HOME</a></li>
                    <li><a href="#about">ABOUT US</a></li>
                    <li><a href="#Products">SERVICES</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </nav>
            <div class="header-text">
                <p>Petfam</p>
                <h1>WELCOME TO PETFAM</h1>
            </div>
        </div>
    </div>
</body>
</html>
