<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/login.css" />
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>Welcome back</h1>
            <p>Please enter your details.</p>

            <form method="POST"> <!-- Add form tag with POST method -->
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="login-btn">Log in</button> <!-- Change button type to submit -->
            </form>

            <p>Don't have an account? <a href="/register">Sign Up</a></p>
        </div>
        <div class="image-box">
            <img src="../static/images/login_bg.jpeg" alt="Landscape Image">
        </div>
    </div>
</body>
</html>
 