<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/login.css" />
    <title>Login Page</title>
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h1>Welcome back</h1>
            <p>Please enter your details.</p>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="login-btn">Log in</button>
            <p>Don't have an account? <a href="signup.html">Sign Up</a></p>
        </div>
        <div class="image-box">
            <img src="../static/images/login_bg.jpeg" alt="Landscape Image">
        </div>
    </div>
</body>
</html>
